@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300');

* {
  box-sizing: border-box
}

.App {
  text-align: center;
  font-family: 'Noto Serif JP', sans-serif;
}

table {
  display: inline-block;
}

.max-temp {
  font-weight: 700;
}